@page
@model WebApp.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>First Name</p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <button onclick="location.href='Authors?orderBy=firstname&descending=false'" type="button" class="btn btn-secondary">↑</button>
                    <button onclick="location.href='Authors?orderBy=firstname&descending=true'" type="button" class="btn btn-secondary">↓</button>
                  </div>
                </div>
            </th>
            <th>
                <p>Last Name</p> 
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <button onclick="location.href='Authors?orderBy=lastname&descending=false'" type="button" class="btn btn-secondary">↑</button>
                    <button onclick="location.href='Authors?orderBy=lastname&descending=true'" type="button" class="btn btn-secondary">↓</button>
                  </div>
                </div>
            </th>
            <th>
                <p>Year of birth</p> 
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <button onclick="location.href='Authors?orderBy=yearofbirth&descending=false'" type="button" class="btn btn-secondary">↑</button>
                    <button onclick="location.href='Authors?orderBy=yearofbirth&descending=true'" type="button" class="btn btn-secondary">↓</button>
                  </div>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuthorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuthorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
